{% extends "layout.html" %}
{% import "_pagination_widget.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>

{% if current_user.is_authenticated %}
    <div class="post-tabs">

        <ul class="nav nav-tabs">
            <li role="presentation" {% if not show_followed %}class="active"{% endif %} style="margin-right: 10px;">
                <a href="{{ url_for('.show_all') }}" class="btn btn-primary">All posts</a>
            </li>
            {% if current_user.is_authenticated %}
            <li role="presentation" {% if show_followed %}class="active"{% endif %}>
                <a href="{{ url_for('.show_followed') }}" class="btn btn-primary" style="margin-bottom: 10px;">Followed posts</a>
            </li>
            {% endif %}
        </ul>

        {% include '_posts.html' %}
        {{ macros.render_pagination(posts, 'main.home') }}
    </div>
{% endif %}




{% endblock content %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}