{% extends "layout.html" %}
{% import "_pagination_widget.html" as macros %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('main.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>

                {% if post.content_html %}
                    {{ post.content_html | safe }}
                {% else %}
                    {{ post.content }}
                {% endif %}
          </div>
        </article>
    {% endfor %}
    {{ macros.render_pagination(posts, 'main.home') }}
{% endblock content %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}